<div class="container">
  <div class="columns is-centered">
    <div class="column is-6-tablet is-5-desktop is-4-widescreen">

      <div *ngIf="invalid" class="notification is-danger has-text-centered">
        Las credenciales ingresadas son inválidas.
      </div>

      <form (submit)="onSubmit()" class="box" #loginForm="ngForm">
        <div class="field">
          <label for="" class="label">Email</label>
          <div class="control has-icons-left">
            <input
              [(ngModel)]="model.email"
              #email="ngModel"
              required
              name="email"
              type="email"
              placeholder="admin@kodoti.com"
              class="input"
            />
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </div>

          <ng-container *ngIf="email.invalid && email.dirty">
            <span class="help is-danger">El campo e-mail es requerido.</span>
          </ng-container>
        </div>
        <div class="field">
          <label for="" class="label">Password</label>
          <div class="control has-icons-left">
            <input
              [(ngModel)]="model.password"
              #password="ngModel"
              required
              name="password"
              type="password"
              placeholder="123456"
              class="input"
            />
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </div>

          <ng-container *ngIf="password.invalid && password.dirty">
            <span class="help is-danger">El campo password es requerido.</span>
          </ng-container>
        </div>
        <div class="field">
          <button [disabled]="!loginForm.form.valid" class="button is-success">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
