<div class="columns is-vcentered">
    <div class="column">
        <h1 class="title">US$ 200.00</h1>
        <h2 class="subtitle">El total de los pagos registrados para este periodo.</h2>
    </div>
    <div class="column has-text-right">
        <a [routerLink]="['create']" class="button is-primary is-medium">Registrar un nuevo gasto</a>
    </div>
</div>

<div class="columns">
    <div class="column">
        <div class="select is-fullwidth is-medium">
            <select [(ngModel)]="month" (change)="getAll()">
                <option *ngFor="let item of months" [value]="item.value">{{item.label}}</option>
            </select>
        </div>
    </div>
    <div class="column">
        <div class="select is-fullwidth is-medium" (change)="getAll()">
            <select [(ngModel)]="year">
                <option *ngFor="let item of years" [value]="item">{{item}}</option>
            </select>
        </div>
    </div>
</div>

<div *ngIf="items.length" class="columns is-multiline">
    <app-outcome-detail class="column is-4" *ngFor="let item of items" (remove)="removeDeletedOutcome($event)" [entry]="item"></app-outcome-detail>
</div>

<div *ngIf="items.length === 0" class="has-text-centered is-size-4">
    - no se han encontrado registros -
</div>