<div class="hero-head">
  <header class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a [routerLink]="['/']" class="navbar-item">
          BILLAPP &nbsp;<img src="/assets/logo2.png" alt="" />
        </a>
        <span class="navbar-burger burger">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a [routerLink]="['/outcomes']" class="navbar-item"> Gastos </a>
          <a (click)="signOut()" [routerLink]="['/']" class="navbar-item"> Desconectarse </a>
        </div>
      </div>
    </div>
  </header>
</div>
